@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --playfair: "Playfair Display";
  --satoshi: "Satoshi", sans-serif;

  --light: #F4F9F4;
  --primary: #496653;
  --light-primary: rgba(73, 102, 83, .3);
  --secondary: #62896F;
  --accent: #F39C12;
  --font-color: #34495E;
}
button:hover {
    background: var(--primary) !important;
}
.btn.border-primary:hover {
  color: var(--light) !important;
}
.btn.bg-primary:hover,
.btn.bg-primary:active,
.btn.bg-primary:focus {
  /* color: var(--secondary) !important; */
  border: 0 !important;
  background-color: var(--secondary) !important;
}
body {
  width: 100%;
  overflow-x: hidden;
  font-size: 18px;
  font-family: var(--satoshi);
  background: var(--light);
}

/* init font */
h1, .h1 {
  font-size: 60px;  
  font-family: var(--playfair);
}
h2 {
  font-size: 48px;
  font-family: var(--playfair);
}
h3 {
  font-size: 24px;
  font-family: var(--playfair);
}
.text-playfair {
  font-family: var(--playfair) !important;
}
.text-satoshi {
  font-family: var(--satoshi) !important;
}
/* init font */
/* .btn .bg-primary:hover, 
.btn .bg-primary:focus, 
.btn .bg-primary:active {
  background: red !important;
} */
/* init variation color */
/* Background Colors */
.bg-light {
  background-color: var(--light) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-accent {
  background-color: var(--accent) !important;
}

.bg-font-color {
  background-color: var(--font-color) !important;
}

/* Text Colors */
.text-light {
  color: var(--light) !important;
}

.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.text-accent {
  color: var(--accent) !important;
}

.text-font-color {
  color: var(--font-color) !important;
}

/* Borders */
.border-light {
  border: 1px solid var(--light) !important;
}

.border-primary {
  border: 1px solid var(--primary) !important;
}

.border-secondary {
  border: 1px solid var(--secondary) !important;
}

.border-accent {
  border: 1px solid var(--accent) !important;
}

.border-font-color {
  border: 1px solid var(--font-color) !important;
}

/* Shadows */
.shadow-light {
  box-shadow: 0 4px 6px rgba(244, 249, 244, 0.4) !important;
}

.shadow-primary {
  box-shadow: 0 4px 6px rgba(73, 102, 83, 0.4) !important;
}

.shadow-secondary {
  box-shadow: 0 4px 6px rgba(98, 137, 111, 0.4) !important;
}

.shadow-accent {
  box-shadow: 0 4px 6px rgba(243, 156, 18, 0.4) !important;
}

.shadow-font-color {
  box-shadow: 0 4px 6px rgba(52, 73, 94, 0.4) !important;
}

/* another */
.container-main {
  padding-inline: 140px;
}
.h-100 {
  height: 100%;
}
.btn-top {
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
}
.btn-outline-p {
    transition: all .5s ease !important;
}
.btn-outline-p:hover {
    background: var(--primary) !important;
    color: var(--light) !important;
}
/* init variation color */


/* Main navbar styles */
header {
  font-family: var(--satoshi);
  font-size: 16px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
header .promo-bar {
  padding-block: 16px;
  font-size: 18px;
}
header .navbar {
  padding-block: 18px;
  font-weight: medium;
  transition: all .4s ease;
}
header .navbar .navbar-brand img {
  width: 182px;
  height: 32px;
  z-index: 1000;
}
header .navbar .nav-link {
  opacity: .6;
  transition: all .6s ease;
}
header .navbar .nav-link:hover {
  opacity: 1;
}
header .navbar .nav-link.active {
  opacity: 1;
}
header .navbar .icon-complementary {
  font-size: 24px;
}
.navbar-toggler {
  border: 0;
  box-shadow: 0 0 0;
  background: var(--light-primary);
  transition: all .4s ease;
  border-radius: 0;
}
.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
  border: 0;
  box-shadow: 0 0 0;
}
.navbar-toggler .nav-tog-icon {
  font-size: 28px;
  /* color: var(--primary); */
}

.navbar-toggler .nav-tog-icon:hover {
  color: var(--light) !important;
}
.blur {
  backdrop-filter: blur(4px);
}
/* Main navbar styles */

/* footer styles */
footer {
  width: 100%;
  height: auto;
  background: var(--primary);
  color: var(--light);
}
.img-logo-footer {
  width: 182px;
}
/* footer styles */


/* main content style */
main {
  width: 100%;
  height: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: var(--playfair);
}
button {
  font-family: var(--satoshi) !important;
  font-weight: medium;
}
.hero {
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin: 0;
}
.section {
  width: 100%;
}
/** Home **/
.hero-home {
  background: url("/images/bg-home.jpg") left center;
  height: 720px;
  /* z-index: 100000; */
}
.section-excess {
  background: url("/images/bekron.png") center center;
  height: 820px;
  /* margin-top: -100px; */
  z-index: 0;
}
.section-cta1 {
  /* gap: 200px !important;  */
}
.section-cta2 {
  background: url("/images/bekron.png") center center;
  height: 895px;
}
.section-cta3 {
  height: 500px;
}
.section-plants-quote {
  background: url("/images/bekron.png") center center;
  height: 720px;
}
/* .contain-img-excess {
  
} */
.icon-excess {
  font-size: 56px;
}
.img-excess { 
  width: 368px;
  height: 425px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.frame-img-excess {
  width: 368px;
  height: 425px;
}
.wrapper-text-cta1 {
  height: 552px;
  justify-content: center;
}
.wrapper-img-cta1 img {
  width: 600px;
}
.wrapper-img-cta2 {
  flex-direction: column;
}
.wrapper-img-cta3 img {
  width: 450px;
}
.box-quote {
  width: 365px;
  height: 232px;
  overflow: hidden;
  background: #E8EFEA;
  border-radius: 15px;
  font-size: 16px;
}
.box-quote img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/** Home **/
/** Product **/
.section-product, .section-education, .section-aboutus, .section-contactus {
  height: 600px;
  padding-top: 200px;
  background: url('/images/bekron.png');
}
.section-display-product, .section-display-education {
  height: auto;
  padding-block: 50px;
  margin-top: -180px;
}
.input-search-product {
  border-radius: 20px;
  padding-right: 45px;
  background-color: #E8EFEA;
}
.input-search-product:focus {
  background: #E8EFEA;
  box-shadow: 0 0 0;
  border: 0;
}
.input-search-product::placeholder {
  opacity: .5;
}
.icon-search-product {
  width: 40px;
  height: 40px;
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 20px;
}
.btn-filter {
  background-color: var(--light);
  border: 1px solid var(--primary);
}
.box-product {
  width: 310px;
  height: 380px;
  /* background-color: red; */
}
.contain-star-product {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.img-product {
  width: 100%;
  height: 324px;
}
/** Product **/
/** Detail Product **/
.section-all-detail-product {
  background: url('/images/bekron.png') center center;
  background-size: cover;
  width: 100%;
  margin-top: 200px;
}
.img-product-detail {
  width: 100%;
}
.img-product-detail img {
  width: 100%;
}
.img-spec img {
  width: 100px;
}
.contain-detail {
  flex-direction: column;
  gap: 10px;
}
/** Detail Product **/
/** Education **/
.box-education {
  width: 311px;
  height: 520px;
  padding-inline: 27px;
  padding-block: 32px;
  background-color: #E8EFEA;
}
.img-education {
  width: 100%;
  height: 183px;
  background: #D9D9D9;
}
.img-education img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-content-education {
  width: 90%;
  background-color: #E8EFEA;
  margin-top: -100px;
}
/** Education **/
/** Education detail **/
.creator-education-detail img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
/** Education detail **/
/** About us **/
.section-aboutus {
  height: auto;
  padding-top: 104px;
}
.banner-aboutus {
  height: 600px;
  background: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .8)), url("/images/plants3-bg.png") center center;
  background-size: cover;
}
.contain-banner {
  display: flex;
  justify-content: space-between;
}
.title-banner-about {
  background: var(--light);
  color: var(--primary);
  padding: 10px;
  border-radius: 20px;
}
.contain-about-top {
  display: flex;
  padding: 30px !important;
  flex-direction: row;
  gap: 100px;
  /* justify-content: space-between; */
}
.contain-about-top div {
  width: 500px;
}
.img-about-us {
  display: flex;
  justify-content: end;
  align-items: center;
  /* width: 100px; */
}
.img-about-us img {
  width: 500px;
}
.section-about-profile {
  justify-content: space-between;
}
.card-profile {
  width: 220px;
  height: 350px;
  position: relative;
  background-color: #E8EFEA;
}
.img-card-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-faq {
  margin-bottom: 100px;
  /* gap: 50px; */
  /* background-color: red; */
  flex-direction: row;
  justify-content: space-between;
}
.contain-accordion-faq {
  width: 45%;
}
.accordion-button {
  background: var(--light);
}
.accordion-button:hover,
.accordion-button:focus,
.accordion-button:active {
  background: var(--light);
  box-shadow: 0 0 0;
  color: var(--light);
}
.accordion-button:not(.collapsed) {
  color: var(--light);
  background-color: var(--primary);
}

.accordion-body {
  background: var(--light);
}
/** About us **/
/** Contact us **/
.section-contactus {
  height: auto;
}
.icon-contact {
  background-color: var(--primary);
  color: var(--light);
  /* padding: 10px; */
  width: 60px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin-right: 20px;
  border-radius: 50%;
}
.contain-touch {
  display: flex;
  /* justify-content: space-around; */
}
.contain-touch div {
  width: 500px;
}
/** Contact us **/
/** Checkout **/
.w50-res {
  width: 48%;
}
/** Checkout **/
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
/* main content style */


/* additional content */
.img-back-auth {
  width: 30px;
  margin-bottom: 16px;
}
.title-elipsis {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.p-elipsis {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.w-title-products {
  width: 60%;
}
.page-item.active .page-link {
  background: var(--primary);
  border: 0;
}
.page-link {
  color: var(--primary);
}
.page-link:hover,
.page-link:active,
.page-link:focus {
  box-shadow: 0 0 0;
}
.btn-ai {
  width: 50px;
  height: 50px;
  cursor: pointer;
  animation: bounceDownUp 1s ease infinite alternate;
}
.popup-ai {
  width: 300px;
  height: 430px;
}
.img-greenai {
  width: 30px;
  height: 30px;
}
.body-chat-greenai {
  height: 75%;
  /* background-color: red; */
  margin-bottom: 10px;
  overflow-y: auto;
  /* scrollbar-width: 0;
  scrollbar-color: var(--primary) transparent; */
}
.body-chat-greenai::-webkit-scrollbar {
  display: none;
}
.bubble {
  width: 100%;
  padding-inline: 10px;
  padding-block: 2px;
  /* margin-bottom: 3px; */
}
.bubble-ai {
  background-color: #FFFFFF;
  box-shadow: 0 0 5px rgba(243, 156, 18, 0.10);
}
.bubble-user {
  background-color: var(--primary);
  color: #FFFFFF;
  text-align: right;
}
.sender {
  font-size: 14px;
  /* font-weight: bo; */
}
.sender-ai {
  color: var(--primary);
}
.sender-user {
  color: #ffffff;
}
.mess-greenai {
  font-size: 12px;
}
@keyframes bounceDownUp {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
.span-hover-greenai {
  position: absolute;
  top: -45px;
  left: -80px;
  padding: 5px 10px;
  transition: all .3s ease;
  opacity: 0;
  border-radius: 20px 20px 5px 20px;
}
.con-btn-ai:hover .span-hover-greenai {
  opacity: 1 !important;
}
::-moz-selection { /* Code for Firefox */
  color: var(--light);
  background: var(--primary);
}

::selection {
  color: var(--light);
  background: var(--primary);
}
.img-profile-side {
  width: 0px;
  height: 50px;
  border-radius: 50%;
}
.d-mobile {
  display: none;
}
.w100-responsive {
  width: 100% !important;
}
.w100-responsive2 {
  width: 100% !important;
}

.box-history {
  
}
.box-history img {
  width: 150px;
}

.loader {
  width: 30px;
  aspect-ratio: 2;
  margin-top: 10px !important;
  margin-bottom: 16px !important;
  --_g: no-repeat radial-gradient(circle closest-side,var(--primary) 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
.info-box {
  width: 350px;
  height: 100px;
}
.info-box-icon {
  width: 100px !important;
}
.img-nav-profile {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.img-pay {
  width: 300px;
}
.accordion-body {
  font-family: var(--satoshi);
}
input[type="checkbox"] {
  accent-color: var(--primary);
  margin-right: 10px;
}

input[type="checkbox"]:hover {
  accent-color: var(--primary);
}
.btn.bg-transparent:hover {
  color: var(--light) !important;
}
.bg-sec {
  background-color: rgba(232, 239, 234, 1); 
}
.code-div {
  width: 35%;
}
.btn-close:hover {
  color: var(--light) !important;
}
.btn.btn-light:hover {
  background-color: rgba(249, 249, 250, .8) !important;
}

/* additional content */

/* responsive */
/* size mobile */
@media screen and (max-width: 800px) {
   h1, .h1 {
    font-family: var(--playfair) !important;
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  .pi30 {
    padding-inline: 30px;
  }
  /*  
  h3 {
    font-size: 16px;
  } */
  p {
    font-size: 14px;
    font-family: var(--satoshi) !important;
  }
  .promo-bar {
    font-size: 14px !important;
  }
  .w50-res {
    width: 100%;
  }
  .container-main {
    padding-inline: 30px;
  }
  .navbar-brand {
    top: 15px;
    padding-left: 15px;
    justify-content: start !important;
    /* height: 100%;
    align-items: center; */
  }
  .navbar-toggler {
    margin-right: 15px;
  }
  .navbar-nav {
    margin-top: 15px;
  }
  .hero-home div {
    width: 100%;  
    justify-content: start;
    text-align: left;
  }
  .w-hero-title-home {
    width: 100%;
    /* background-color: red; */
  }
  .section-excess {
    height: auto;
    /* background-color: red; */
    padding-bottom: 100px;
  }
  .wrapper-excess {
    gap: 63px;
    flex-direction: column;
  }
  .frame-img-excess {
    width: 225px;
    height: 300px;
  }
  .img-excess { 
    width: 225px;
    height: 300px;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .section-cta1 {
    display: flex;
    flex-direction: column-reverse !important;
  }
  .wrapper-text-cta1 {
    height: auto;
    padding-block: 50px;
  }
  .wrapper-text-cta1 div {
    width: 100% !important;
  }
  .wrapper-img-cta1 {
    width: 100%;
    display: flex;
    padding-top: 50px;
    justify-content: center;
    background: var(--primary);
  }
  .wrapper-img-cta1 img {
    width: 300px;
  }
  .section-cta2 {
    height: auto;
    padding-block: 80px;
  }
  .wrapper-img-cta2 img:first-child {
    width: 200px;
  }
  .wrapper-img-cta2 img {
    width: 250px;
  }
  .wrapper-img-cta2 img:last-child {
    width: 200px;
  }
  .section-cta3 {
    height: auto;
    padding-block: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .wrapper-img-cta3 img {
    width: 250px;
  }
  .section-plants-quote {
    height: auto;
    padding-block: 80px;
  }
  .section-plants-quote div {
    flex-direction: column-reverse;
  }
  .box-quote {
    width: 80%;
    height: 232px;
    overflow: hidden;
    background: #E8EFEA;
    border-radius: 15px;
    font-size: 16px;
  }
  /* product styles */
  .box-product {
    width: 290px;
    height: 220px;
    margin-bottom: 200px;
  }
  .img-product {
    height: 300px;
    /* background-color: red; */
  }
  .title-product, .price-product, .discount-text {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .title-product {
    margin-bottom: 3px !important;
  }
  .contain-star-product {
    flex-direction: column;
  }
  .star-product {
    font-size: 14px;
  }
  .discount-text {
    padding-inline: 8px !important;
  }
  .img-spec {
    display: none;
  }
  .contain-spec {
    margin-top: 20px !important;
    align-items: start !important;
  }
  .qute {
    display: none;
  }
  .w-title-products {
    width: 100%;
  }
  .popup-ai {
    width: 90%;
  }
  .d-mobile {
    display: flex;
  }
  .contain-banner {
    flex-direction: column;
    justify-content: center;
    align-items: start !important;
    gap: 40px;
    /* background-color: red; */
  }
  .img-about-us {
    /* width: 200px !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
  .img-about-us img {
    width: 300px !important;
  }
  .contain-about-top div {
    width: 100%;
  }
  .contain-about-top {
    margin-top: -100px !important;
    /* background-color: red; */
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 100px !important;
    flex-direction: column-reverse;
  }
  .section-about-profile {
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column-reverse;
    /* background-color: red; */
  }
  .contain-about-profile {
    display: flex;
    justify-content: center;
  }
  .contain-about-text {
    margin-bottom: 100px;
  }
  .section-faq {
    gap: 50px;
  }
  .contain-accordion-faq {
    width: 100%;
  }
  .contain-touch div {
    width: 100%;
  }
  .contain-touch div h5 {
    font-size: 14px;
  }
  .icon-contact { 
    width: 60px;
    font-size: 25px;
    height: 50px;
    /* border-radius: 0; */
    margin-right: 0;
  }
  .iframe-map {
    width: 100%;
    margin-top: 30px;
  }
  .contain-cart-chechkout {
    flex-direction: column;
    align-items: start !important;
    margin-top: 50px;
    /* justify-content: start; */
    /* background-color: red; */
  }
  .code-div {
    width: 100%;
    margin-bottom: 50px;
    padding-top: 50px;
  }
  .total-div {
    width: 100%;
    padding-bottom: 50px;
  }
}

/* size tablet */
@media screen and (min-width: 800px) and (max-width: 1200px) {
  h1, .h1 {
   font-size: 32px;
  }
  p {
    font-size: 14px;
    font-family: var(--satoshi) !important;
  }
  /* h3 {
   font-size: 16px;
  } */
   .w-hero-title-home {
    width: 50%;
   }
   .section-cta1 {
    display: flex;
    background-color: var(--primary);
   }
  .wrapper-text-cta1 {
    display: flex;
    flex-direction: row !important;
    align-items: center;
  }
  .wrapper-text-cta1 div {
    width: 50%;
    /* height: 100px; */
    /* background-color: red; */
  }
  .wrapper-img-cta1 {
    display: flex; 
    align-items: center;
    margin-right: 50px;
    width: 50%;
    /* background-color: red; */
  }
  .wrapper-img-cta1 img {
    width: 300px;
  }
  .wrapper-img-cta3 img {
    width: 250px;
  }
  .wrapper-img-cta2 img:first-child {
    width: 200px;
  }
  .wrapper-img-cta2 img {
    width: 250px;
  }
  .wrapper-img-cta2 img:last-child {
    width: 200px;
  }
  .wrapper-excess {
    gap: 63px !important;
    padding-bottom: 100px;
  }
  .contain-img-excess {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  .img-excess, .frame-img-excess { 
    width: 225px;
    height: 300px;
  }
  .section-plants-quote {
    margin-block: 100px !important;
  }
  /* product styles */
  .box-product {
    width: 290px;
    height: 220px;
    margin-bottom: 200px;
  }
  .img-product {
    height: 300px;
    /* background-color: red; */
  }
  .title-product, .price-product, .discount-text {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .img-product-detail {
    width: 60%;
  }
  .title-product {
    margin-bottom: 3px !important;
  }
  .contain-star-product {
    flex-direction: column;
  }
  .star-product {
    font-size: 14px;
  }
  .discount-text {
    padding-inline: 8px !important;
  }
  .img-spec {
    display: none;
  }
  .contain-spec {
    margin-top: 20px !important;
    align-items: start !important;
  }
  .qute {
    display: none;
  }
  .w-title-products {
    width: 100%;
  }
  .popup-ai {
    width: 90%;
  }
  .d-mobile {
    display: flex;
  }
  .contain-banner {
    flex-direction: column;
    justify-content: center;
    align-items: start !important;
    gap: 40px;
    /* background-color: red; */
  }
  .img-about-us {
    /* width: 200px !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
  .img-about-us img {
    width: 300px !important;
  }
  .contain-about-top div {
    width: 100%;
  }
  .contain-about-top {
    margin-top: -100px !important;
    /* background-color: red; */
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 100px !important;
    flex-direction: column-reverse;
  }
  .section-about-profile {
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: red; */
  }
  .contain-about-profile {
    display: flex;
    justify-content: center;
  }
  .contain-about-text {
    text-align: center;
    margin-top: 50px;
  }
  .section-faq {
    gap: 50px;
  }
  .contain-accordion-faq {
    width: 100%;
  }
  .contain-touch div {
    width: 100%;
  }
  .contain-touch div h5 {
    font-size: 14px;
  }
  .icon-contact { 
    width: 60px;
    font-size: 25px;
    height: 50px;
    /* border-radius: 0; */
    margin-right: 0;
  }
  .iframe-map {
    width: 100%;
    margin-top: 30px;
  } 
  footer p, footer h3, footer li a {
    text-align: left !important;
    /* color: red; */
  }
  footer ul li {
    text-align: left !important;
    /* color: red; */
  }
  .section-about-profile {
    display: flex;
    /* justify-content: space-between !important; */
    flex-direction: row !important;
  }
  .contain-about-text {
    width: 50%;
  }
}

/* size desktop */
@media screen and (min-width: 1200px) {
  p {
    font-family: var(--satoshi) !important;
    font-size: 18px;
  }
  .navbar-nav {
    position: absolute;
    left: -40px;
  }
  .navbar-collapse {
    width: 100%;
    display: flex; 
    justify-content: end;
    /* position: relative;
    right: 0; */
  }
  .w-hero-title-home {
    width: 500px;
  }
  .section-excess {
    /* padding-top: -300px; */
  }
  .wrapper-excess {
    /* margin-top: -500px; */
    /* background-color: red; */
    gap: 113px;
    margin-top: 50px;
    flex-direction: row;
  }
  .wrapper-text-cta1 div {
    width: 50%;
  }
  .wrapper-img-cta1 {
    /* top: -150px; */
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .wrapper-img-cta2 {
    flex-direction: row;
  }
  .section-cta3 {
    flex-direction: row;
  }
  .support-text {
    width: 30%;
    display: block !important;
  }
  .img-product-detail {
    width: 30%;
  }
  .img-product-detail img {
    width: 100%;
  }
  .ready-checkout {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
    color: var(--primary);
  }
  .img-spec img {
    width: 100px;
  }
  .contain-detail {
    flex-direction: row;
    gap: 0;
  }
  .img-back-auth {
    margin-bottom: 85px;
  }
  .align-left-desktop {
    text-align: left !important;
    /* background-color: red; */
  }
  .w100-responsive {
    width: 60% !important;
  }
  .section-cta3 {
    /* overflow: hidden; */
  }
  .w100-responsive2 {
    width: 20% !important;
  }
  .wrapper-img-cta3 {
    position: absolute;
    bottom: 0;
    left: -100px;
    /* z-index: -1 */
  }
  .section-cta3 h1 {
    /* font-size: 2em; */
  }
  .wrapper-text-cta3 {
    /* position: absolute;
    right: 0; */
    /* width: 5000px !important; */
    margin-left: 500px;
  }
  .wrapper-img-cta3 img {
    width: 700px;
  }
  .section-plants-quote {
    z-index: 1000 !important;
  }
  footer p, footer h3, footer li a {
    text-align: left !important;
    /* color: red; */
  }
  footer ul li {
    text-align: left !important;
    /* color: red; */
  }
  .section-about-profile {
    display: flex;
    /* justify-content: space-between !important; */
    flex-direction: row !important;
  }
  .contain-about-text {
    width: 50%;
  }
}