* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --playfair: "Playfair";
  --satoshi: "Satoshi", sans-serif;

  --light: #F4F9F4;
  --primary: #496653;
  --secondary: #62896F;
  --accent: #F39C12;
  --font-color: #34495E;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-size: 18px;
  font-family: var(--satoshi);
  background: var(--light);
}

/* init font */
h1 {
  font-size: 64px;  
  font-family: var(--playfair);
}
h2 {
  font-size: 48px;
  font-family: var(--playfair);
}
h3 {
  font-size: 24px;
  font-family: var(--playfair);
}
/* init font */

/* init variation color */
/* Background Colors */
.bg-light {
  background-color: var(--light) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-accent {
  background-color: var(--accent) !important;
}

.bg-font-color {
  background-color: var(--font-color) !important;
}

/* Text Colors */
.text-light {
  color: var(--light) !important;
}

.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.text-accent {
  color: var(--accent) !important;
}

.text-font-color {
  color: var(--font-color) !important;
}

/* Borders */
.border-light {
  border: 1px solid var(--light) !important;
}

.border-primary {
  border: 1px solid var(--primary) !important;
}

.border-secondary {
  border: 1px solid var(--secondary) !important;
}

.border-accent {
  border: 1px solid var(--accent) !important;
}

.border-font-color {
  border: 1px solid var(--font-color) !important;
}

/* Shadows */
.shadow-light {
  box-shadow: 0 4px 6px rgba(244, 249, 244, 0.4) !important;
}

.shadow-primary {
  box-shadow: 0 4px 6px rgba(73, 102, 83, 0.4) !important;
}

.shadow-secondary {
  box-shadow: 0 4px 6px rgba(98, 137, 111, 0.4) !important;
}

.shadow-accent {
  box-shadow: 0 4px 6px rgba(243, 156, 18, 0.4) !important;
}

.shadow-font-color {
  box-shadow: 0 4px 6px rgba(52, 73, 94, 0.4) !important;
}

/* another */
.container-main {
  padding-inline: 140px;
}
.h-100 {
  height: 100%;
}
/* init variation color */


/* Main navbar styles */
header {
  font-family: var(--satoshi);
  font-size: 16px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
header .promo-bar {
  padding-block: 16px;
}
header .navbar {
  padding-block: 18px;
  font-weight: medium;
  transition: all .4s ease;
}
header .navbar .navbar-brand img {
  width: 182px;
  height: 32px;
  z-index: 1000;
}
header .navbar .nav-link {
  opacity: .6;
}
header .navbar .nav-link.active {
  opacity: 1;
}
header .navbar .icon-complementary {
  font-size: 24px;
}
/* Main navbar styles */

/* footer styles */
footer {
  width: 100%;
  height: auto;
  background: var(--primary);
  color: var(--light);
}
.img-logo-footer {
  width: 182px;
}
/* footer styles */


/* main content style */
main {
  font-family: var(--playfair);
}
button {
  font-family: var(--satoshi) !important;
  font-weight: medium;
}
.hero {
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin: 0;
}
.section {
  width: 100%;
}
/** Home **/
.hero-home {
  background: url("/images/bg-home.jpg") center center;
  height: 720px;
  /* z-index: 100000; */
}
.section-excess {
  background: url("/images/bekron.png") center center;
  height: 720px;
  /* margin-top: -100px; */
  z-index: 0;
}
/* .section-cta1 {
  
} */
.section-cta2 {
  background: url("/images/bekron.png") center center;
  height: 895px;
}
.section-cta3 {
  height: 595px;
}
.section-plants-quote {
  background: url("/images/bekron.png") center center;
  height: 720px;
}
/* .contain-img-excess {
  
} */
.icon-excess {
  font-size: 56px;
}
.img-excess { 
  width: 368px;
  height: 425px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.frame-img-excess {
  width: 368px;
  height: 425px;
}
.wrapper-text-cta1 {
  height: 552px;
  justify-content: center;
}
.wrapper-img-cta1 img {
  width: 600px;
}
.wrapper-img-cta2 {
  flex-direction: column;
}
.wrapper-img-cta3 img {
  width: 350px;
}
.box-quote {
  width: 365px;
  height: 232px;
  overflow: hidden;
  background: #E8EFEA;
  border-radius: 15px;
  font-size: 16px;
}
.box-quote img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/** Home **/
/* main content style */


/* responsive */
/* size mobile */
@media screen and (max-width: 700px) {
  .w-hero-title-home {
    width: 100%;
  }
  .wrapper-excess {
    gap: 113px;
    flex-direction: column;
  }
}
/* size desktop */
@media screen and (min-width: 700px) {
  .w-hero-title-home {
    width: 500px;
  }
  .wrapper-excess {
    gap: 113px;
    flex-direction: row;
  }
  .wrapper-text-cta1 div {
    width: 50%;
  }
  .wrapper-img-cta1 {
    position: absolute;
    /* top: -150px; */
    bottom: 0;
    right: 0;
  }
  .wrapper-img-cta2 {
    flex-direction: row;
  }
  .section-cta3 {
    flex-direction: row;
  }
}